[submodule "lib/motor_manager"]
	path = lib/motor_manager
	url = https://github.com/SeonilChoi/MOTOR-MANAGER.git
[submodule "lib/robot_manager"]
	path = lib/robot_manager
	url = https://github.com/SeonilChoi/ROBOT-MANAGER.git
